
header img {
    width: 250px;
    display: block;
}

header, footer {
    background-color: #282828;
    position: fixed;
    padding: 20px 0;
    box-sizing: border-box;
    width: 100%;
    color: #c3c1c1;
}

nav ul li {
    color: #FFFFFF;
    display: inline;
    font-weight: 400;
}

.layout_a {
    color: #c3c1c1;
}

footer{
    bottom: 0;
}

header {
    top: 0;
}

img {
    width: 100%;
}

.float {
    display: inline;

}
