
header img {
    width: 250px;
    display: block;
}

header {
    background-color: #282828;
    position: absolute;
    width: 100%;
}

nav ul li {
    color: #FFFFFF;
    display: inline;
    font-weight: 400;
}

footer {
    background-color: #282828;
    position: absolute;
    width: 100%;
}

footer {
    padding: 20px 0;
    box-sizing: border-box;
}

footer, a {
    color: #FFFFFF;
}

